body, html, header, h1{
  margin: 0px;
  padding: 0px;
}
.navbarN {
  background-color: rgba(0, 0, 0, 0.75);
}

.navbarN div a {
  text-decoration: none;
  outline-style: none;
}
header, body, html{
  width: 100%;
  height: 100%;
}
header{
  background-image: url("../img/top1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.wrapper{
  display: table;
  width: 100%;
  height: 100%;
}
.content{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: 1px 1px 10px black;
}
.ml9{
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  color: white;
}
.subtitle{
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.ml9 .text-wrapper {
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.text-muted {
  font-size: 18px;
  font-weight: bold;
}

.btn-secondary {
  margin-left: 25%;
  margin-top: 5%;
}
.marge{
  margin-top: 5%;
}
a{
  color: white;
  text-decoration: none;
  outline-style: none;
}
footer{
  color: white;
}
hr{
  background-color: white;
}
.colorwhite {
  color: white;
  font-family: inherit;
}
