/* attr */
.colorwhite {
  color: white;
  font-family: inherit;
}

/* attr */
nav {
  height: 3.5em; 
}
nav div a {
  text-decoration: none;
  outline-style: none;
  color: white;
}

.btnNav {
  color: white;
  cursor: pointer;
}

header {
  height: 50em;
  background-image: url("../img/top1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: 1px 1px 10px black;
}

.ml9 {
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  color: white;
}

.subtitle {
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.ml9 .text-wrapper {
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-deck {
  height: 40%;
}

.text-muted {
  font-size: 18px;
  font-weight: bold;
}

.btn-secondary {
  margin-left: 25%;
  margin-top: 5%;
}

.title{
  margin: 20px;
  text-align: center;
  font-size: 50px;
}

.marge {
  margin-top: 5%;
}

a {
  color: white;
  text-decoration: none;
  outline-style: none;
}

footer {
  margin-top: 2em;
  color: white;
}

hr {
  background-color: white;
}

.modal-lg {
  max-width: 70em !important;
}

.btn-achat {
  margin-top: 3.4em;
}

.amount-items {
  width: 10%;
  float: left;
  text-align: center;
}